.card-title {
    font-size: 35px !important;
    font-weight: 400 !important;
    margin: 0px !important;
}

.card-content {
    margin: 0px !important;
    padding: 0px !important;
}

.card {
    border-radius: 10px !important;
    padding-left: 10px !important;
}

input {
    color: whitesmoke;
}

.row {
    margin: 0px;
    padding: 0px;
}

.input-field {
    margin: 5px;
}

.marginBot {
    margin-bottom: 20px;
}

.transparent1 {
    opacity: 0.95;
}

.select-wrapper .caret {
    fill: whitesmoke;
}

.title {
    font-weight: 600 !important;
}

input.valid[type="text"],
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #10be44 !important;
    box-shadow: 0 1px 0 0 #10be44;
}
