<img src="Logo.png" alt="Logo" class="center" id="logo">
<a class="waves-effect waves-light btn-large"><i class="material-icons right">credit_card</i>Überweisen</a>
<a class="waves-effect waves-light btn-large"><i class="material-icons right">maps_home_work</i>Bauen</a>
<a class="waves-effect waves-light btn-large"><i class="material-icons right">hotel</i>Miete</a>
<a class="waves-effect waves-light btn-large"><i class="material-icons right">trending_up</i>Börse</a>

<!--
https://fonts.google.com/icons  
Börse: Trending up
Bauen: mapshomework
Miete:
Überweisen:Kreditcard-->