<div class="container center">
    <img class="logo" src="Logo.png" />
</div>

<div class="container center">

    <a class="waves-effect waves-light btn-large orange darken-2"><i
            class="material-icons right" href="/users"
        >credit_card</i>Send</a>
    <a class="waves-effect waves-light btn-large"><i
            class="material-icons right"
        >home</i>Build</a>
    <a class="waves-effect waves-light btn-large"><i
            class="material-icons right"
        >hotel</i>Rent</a>
    <a class="waves-effect waves-light btn-large"><i
            class="material-icons right"
        >trending_up</i>Stock</a>

</div>