<div class = "center">
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">credit_card</i>Send</a>
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">home</i>Build</a>
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">hotel</i>Rent</a>
    <a class="waves-effect waves-light btn-large"><i class="material-icons right">trending_up</i>Stock</a>
</div>