.ButtonBox {
    margin-top: 15vh;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.btn-large {
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: 160px !important;
    font-size: 20px !important;
    font-weight: 500;
}

.cardColor {
    background-color: #37474fe0 !important;
}
