.gridWrapper {
    display: grid;

    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    grid-gap: 20px;

    width: 100%;
    font-size: max(min(0.5vw, 1em), 2rem);
}

.gridWrapperOneColumn {
    display: grid;
    grid-template-columns: 1fr;
    color: #444;
    width: 100%;
}

.gridBox {
    background-color: rgb(85, 77, 77);
    color: #fff;
    border-radius: 5px;

    border: 3px solid black;

    box-shadow: rgb(38, 57, 77) 0px 5px 15px 5px;
}

.flexContainerProperty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descriptionFlex {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    padding: 5px;
}

.imageFlex img {
    box-shadow: rgb(13, 19, 26) 0px 0px 2px 1px;
    object-fit: fill;
    height: 100%;
}

.propertyTitle {
    font-size: 24px;
    margin: 0px;
    font-weight: 600;
    word-break: keep-all;

}

.propertyDescription {
    font-size: 18px;
    margin: 0px;
    font-weight: 600;
}

.White {
    background-color: rgba(240, 238, 238, 0.945);
    color: rgb(37, 28, 28);
}

.Grey {
    background-color: rgba(117, 115, 115, 0.966);
}

.Black {
    background-color: rgba(19, 17, 17, 0.959);
}

.Lime {
    background-color: rgba(107, 255, 0, 0.925);
    color: rgb(48, 45, 45);
}

.Lightblue {
    background-color: rgba(70, 240, 240, 0.911);
    color: rgb(51, 44, 44);
}

.Pink {
    background-color: rgba(240, 50, 230, 0.89);
}

.Orange {
    background-color: rgba(243, 117, 14, 0.911);
    color: rgb(51, 44, 44);
}

.Red {
    background-color: rgba(255, 28, 28, 0.932);
}
