.card-title {
    font-size: 35px !important;
    font-weight: 400 !important;
    margin: 0px !important;
}

.card-content {
    margin: 0px !important;
    padding: 0px !important;
}

.card {
    border-radius: 10px !important;
    padding-left: 10px !important;
}

.cardColor {
    background-color: #37474fe0 !important;
}

form {
    padding-bottom: 20px !important;
}

.paddingBottom {
    padding-bottom: 20px;
}

.name {
    font-size: calc(0.8vw + 1vh + 0.5vmin) !important;
    color: whitesmoke;
}

[type="radio"]:not(:checked) + span:before {
    border: 2px solid white !important;
}

.Sender [type="radio"]:checked + span:after {
    background-color: red !important;
    border: none;
}

.Receiver [type="radio"]:checked + span:after {
    background-color: rgb(53, 219, 11) !important;
    border: none;
}
