.btn-large-rent {
    font-weight: 600 !important;
    font-size: 14px;
}

.marginBottom {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.noMargin {
    margin: 0px !important;
}
