form {
    padding-bottom: 5px !important;
}

.name {
    font-size: calc(0.5vw + 1.2vh + 0.5vmin) !important;
    color: whitesmoke;
}

[type="radio"]:not(:checked) + span:before {
    border: 2px solid white !important;
}

.Sender [type="radio"]:checked + span:after {
    background-color: red !important;
    border: none;
}

.Receiver [type="radio"]:checked + span:after {
    background-color: rgb(53, 219, 11) !important;
    border: none;
}

.Buyer [type="radio"]:checked + span:after {
    background-color: rgb(54, 197, 19) !important;
    border: none;
}

.smallRow {
    margin: 0px !important;
}

.paddingBot {
    padding-bottom: 10px;
}

.centerRow {
    margin: 0px;
}
