.stickBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;


}

.carousel .carousel-item {
    opacity: 1 !important;
    height: 320px !important;
}

.carousel {
    height: 320px !important;
}
