.playerCard {
    height: 270px;
    width: 220px;
    margin-top: 26px;

    border: 2px solid rgb(179, 137, 113);
    border-radius: 15px 15px 0px 0px;

    box-shadow: rgb(0, 7, 15) 0px 0px 13px 10px,
        inset rgb(0, 7, 15) 0px 0px 5px 1px;

    background: rgba(255, 230, 213, 0.986);
}

.isBroke {
    box-shadow: rgb(192, 0, 0) 0px 0px 10px 10px,
        inset rgb(0, 7, 15) 0px 0px 5px 1px;
}

h4 {
    font-size: 25px;
}

td {
    padding: 8px;
}

h4 {
    margin: 0px;
    word-wrap: break-word;
    vertical-align: middle;
}

.centerRow {
    display: flex;
    align-items: center;
}

.cardTitle {
    height: 32px;
}
